/* --- FOOTER DE NAVEGACIÓ FLOTANT --- */
.bottom-nav {
  position: fixed;
  bottom: 20px;       
  left: 50%;
  transform: translateX(-50%); 
  
  width: 90%;         
  max-width: 400px;   
  
  background-color: #D9D9D9; 
  border-radius: 50px;       
  
  display: flex;
  justify-content: space-around; 
  align-items: center;
  
  padding: 15px 0;   
  box-shadow: 0 4px 15px rgba(0,0,0,0.2); 
  z-index: 1000;      
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  text-decoration: none; 
  transition: transform 0.1s;
}

.nav-item:active {
  transform: scale(0.9); 
}

.nav-icon {
  width: 48px;  
  height: 48px;
  object-fit: contain;
  
}


.nav-item:nth-child(3) .nav-icon {
  opacity: 1; 
  
}