.home-container {
  width: 100%;
  padding-bottom: 100px;
  background-color: #f2f2f2;
}

/* Imagen superior */
.home-hero {
  width: 100%;
  height: 220px;
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Card negra con buscador */
.home-search-card {
  background: #111;
  color: white;
  margin: -40px auto 20px;
  width: 85%;
  padding: 20px;
  border-radius: 20px;
  text-align: left;
}

.home-search-card h2 {
  margin: 0 0 15px;
  font-size: 22px;
}

.search-bar {
  background: white;
  padding: 10px 15px;
  border-radius: 30px;
}

.search-bar input {
  border: none;
  width: 100%;
  font-size: 16px;
}

.section-title {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

/* Pokémon del día card */
.pokemon-day-card {
  margin: 10px auto;
  width: 90%;
  background: white;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemon-info h3 {
  margin: 0;
}

.types {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.type {
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  color: white;
}

.type-grass {
  background: #4CAF50;
}

.type-poison {
  background: #A040A0;
}

.pokemon-img {
  width: 100px;
}

/* Favoritos */
.favorites-row {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  padding: 0 10px;
}

.fav-img {
  width: 80px;
  background: white;
  padding: 10px;
  border-radius: 20px;
}
