:root {
  --bg-dark: #f5f5f5;
  --card-gray: #ffffff;
  --card-footer: #ffffff;
  --text-namePoke: #5d5d5d;
  --text-subtle: #595959;
  --input-bg: #757575;
  --nav-bg: #4a4a4a;
  --active-btn: #9c9c9c;
}

/* Reset bàsic */
body, html {
  margin: 0;
  padding: 0;
  background-color: var(--bg-dark);
}

.pokedex-container {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-dark);
  min-height: 100vh;
  padding: 20px;
  padding-bottom: 100px;
  box-sizing: border-box;
  color: var(--text-white);
}

/* --- CABECERA CENTRADA --- */
.detail-header {
  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative;      
  margin-bottom: 20px;
  padding-top: 10px;
}


.back-btn {
  position: absolute; 
  left: 0;            
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

.back-icon2 {
  width: 48px;
  height: auto;
  margin-left:-8px;
  margin-top:-40px;
  
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
  color: #333; /* Aseguramos color oscuro */
}

/* Buscador */
.search-wrapper {
  margin-bottom: 15px;
}

.search-bar {
  width: 100%;
  padding: 12px 20px;
  border-radius: 30px;
  border: 2px solid #393939;
  background-color: #ECECEC;
  color: #333; /* Texto negro */
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  box-sizing: border-box; 
  outline: none;
}

.search-bar::placeholder {
  color: #999;
}

/* Filtros */
.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.filter-btn {
  flex: 1;
  background-color: #424242;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

/* GRID DE POKÉMONS */
.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  gap: 12px;
}

.pokemon-card-link {
  text-decoration: none;
  color: inherit;
}

.pokemon-card {
  background-color: var(--card-gray);
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  aspect-ratio: 3 / 4; 
  position: relative;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.card-image-container {
  margin-top: -12px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-img {
  width: 90px;
  height: 90px;
  image-rendering: pixelated; 
}

.card-footer {
  background-color: var(--card-footer);
  padding: 1px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 45px;
}

.pokemon-id {
  font-size: 0.65rem;
  color: var(--text-subtle);
  display: block;
  margin-bottom: 2px;
}

.pokemon-name {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: capitalize; 
  color: var(--text-namePoke);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}